<section id = 'carriers'>
  <h2>Transportadoras:</h2>
    <% if @carriers.any?%>
      <% @carriers.each do |c| %> 
        <div>
          <h1><%= link_to c.brand_name, carrier_path(c.id) %> </h1>
          <dl>
          <dt><strong>Transportadora:</strong></dt>
          <dd><%= c.brand_name %><br/></dd>

          <dt><strong>Domínimo de email:</strong></dt>
          <dd><%= c.email_domain %><br/></dd>

          <dt><strong>Endereço:</strong></dt>
          <dd><%= c.adress %> - <%= c.city %> - <%= c.state %> <br/></dd>

          </dl>
        </div>
      <% end%>
    <% else %>
      <p>Não existem transportadoras cadastradas.</p>
    <% end %>
</section>