<section id = 'carriers'>
<% if admin_signed_in? %>
  <h2>Transportadoras:</h2>
    <% if @carriers.any?%>
        <% @carriers.each do |c| %> 
          <div>
            <h1><%= link_to c.brand_name, carrier_path(c.id) %> </h1>
            <dl>
            <dt><strong>Transportadora:</strong></dt>
            <dd><%= c.brand_name %><br/></dd>

            <dt><strong>Domínimo de email:</strong></dt>
            <dd><%= c.email_domain %><br/></dd>

            <dt><strong>Endereço:</strong></dt>
            <dd><%= c.adress %> - <%= c.city %> - <%= c.state %> <br/></dd>

            <dt><strong>Situação:</strong></dt>
            <dd><%= Carrier.human_attribute_name(c.status) %> <br/></dd>
            </dl>
            <% if c.desactive? %>
              <%= button_to "Ativar", activate_carrier_path(c), {method: 'patch'} %>
            <% elsif c.active? %>
              <%= button_to "Desativar", desactivate_carrier_path(c), {method: 'patch'} %>
            <% end %>
          </div>
        <% end%>
    <% else %>
      <p>Não existem transportadoras cadastradas.</p>
    <% end %>
    <%= link_to 'Voltar', root_path %>
<% end%>
</section>


<section id = 'user_carrier'>
  <% if user_signed_in? %>
    <h2>Transportadora:</h2>
        <div>
          <h1><%= link_to current_user.carrier.brand_name, carrier_path(current_user.carrier) %> </h1>
          <dl>
          <dt><strong>Transportadora:</strong></dt>
          <dd><%= current_user.carrier.company_name %><br/></dd>
          <dt><strong>Domínimo de email:</strong></dt>
          <dd><%= current_user.carrier.email_domain %><br/></dd>
          <dt><strong>Endereço:</strong></dt>
          <dd><%= current_user.carrier.adress %> - <%= current_user.carrier.city %> - <%= current_user.carrier.state %> <br/></dd>
          </dl>
        </div>
  <% else %>
    <p>Entre para acessar sua transportadora.</p>
  <% end%>
<%= link_to 'Voltar', root_path %>
</section>
