<section id = 'pending orders'>
<% if @order.pending? %>
  <h2>Ordem de serviço pendente: <%= @order.track_number %></h2>
  <div>
    <dl>
        <dt> <strong> Nome do cliente: </strong> </dt>
        <dd> <%= @order.customar_name  %>  </dd>
        <dt> <strong> Código do produto: </strong> </dt>
        <dd> <%= @order.product_number  %>  </dd>
        <dt> <strong> Endereço de retirada: </strong> </dt>
        <dd> <%= @order.derparture_adress  %>  </dd>
        <dt> <strong> Endereço de entrega: </strong> </dt>
        <dd> <%= @order.customer_adress  %>  </dd>
        <dt> <strong> Distância: </strong> </dt>
        <dd> <%= @order.distance  %> Km   </dd>
        <dt> <strong> Peso: </strong> </dt>
        <dd> <%= @order.weight  %> Kg </dd>
        <dt> <strong> Prazo de entrega: </strong> </dt>
        <dd> <%= @order.delivery_deadline  %>  Dia(s) </dd>
        <dt> <strong> Valor da entrega: </strong> </dt>
        <dd> <%=  number_to_currency(@order.total_price)  %> </dd>
        <dt> <strong> Código de rastreio: </strong> </dt>
        <dd> <%= @order.track_number  %></dd>
        <dt> <strong> Status: <strong> </dt>
        <dd> <%= Order.human_attribute_name(@order.status) %> </dd>
    </dl>
  </div>  
  <div>
    <%= form_with(model:@order) do |f| %>
      <%= f.label :vehicle_id %>
      <%= f.collection_select :vehicle_id, @order.carrier.vehicles, :id, :full_description %>
      <%= f.submit 'Selecionar veículo' %>
    <% end%>
  </div>  
  <p> Deseja aceitar a ordem de serviço? </p>
  <%= button_to "Aceitar", accept_order_path, {method: 'patch'} %> <br/> 
  <%= button_to "Recusar",  deny_order_path, {method: 'patch'} %>
<% end%>
</section>

<section id = 'Actual orders'>
<% if @order.accepted? || @order.in_transit? %>
  <h2>Ordens de serviço: <%= @order.track_number %></h2>
  <dl>
      <dt> <strong> Nome do cliente: </strong> </dt>
      <dd>  <%= @order.customar_name  %>  </dd>
      <dt><strong> Código do produto: </strong> </dt>
      <dd> <%= @order.product_number  %>  </dd>
      <dt><strong> Endereço de retirada: </strong> </dt>
      <dd> <%= @order.derparture_adress  %>  </dd>
      <dt> <strong> Endereço de entrega: </strong> </dt>
      <dd> <%= @order.customer_adress  %>  </dd>
      <dt> <strong> Distância: </strong> </dt>
      <dd> <%= @order.distance  %> Km   </dd>
      <dt> <strong> Peso: </strong> </dt>
      <dd> <%= @order.weight  %> Kg </dd>
      <dt> <strong> Prazo de entrega: </strong> </dt>
      <dd> <%= @order.delivery_deadline  %>  Dia(s) </dd>
      <dt> <strong> Veículo designado: </strong> </dt>
      <dd> <%= @order.vehicle.full_description %>  </dd>
      <dt> <strong> Valor da entrega: </strong> </dt>
      <dd> <%=  number_to_currency(@order.total_price)  %> </dd>
      <dt> <strong> Código de rastreio: </strong> </dt>
      <dd> <%= @order.track_number  %></dd>
      <dt> <strong> Status: <strong> </dt>
      <dd> <%= Order.human_attribute_name(@order.status) %> </dd>
  </dl>
  <p> Atualizar ordem de serviço </p>
  <% if @order.accepted? %>
    <%= button_to "Em transito", in_transit_order_path, {method: 'patch'} %>
  <% elsif @order.in_transit? %>
    <%= button_to "Entregue", delivered_order_path, {method: 'patch'} %>
  <% end %>
<% end%>
</section>

<section id = 'Finished Orders'>
<% if @order.delivered?%>
  <h2>Ordem de serviço: <%= @order.track_number %></h2>
  <dl>
      <dt> <strong> Nome do cliente: </strong> </dt>
      <dd> <%= @order.customar_name  %>  </dd>
      <dt><strong> Código do produto: </strong> </dt>
      <dd> <%= @order.product_number  %>  </dd>
      <dt><strong> Endereço de retirada: </strong> </dt>
      <dd> <%= @order.derparture_adress  %>  </dd>
      <dt> <strong> Endereço de entrega: </strong> </dt>
      <dd> <%= @order.customer_adress  %>  </dd>
      <dt> <strong> Distância: </strong> </dt>
      <dd> <%= @order.distance  %> Km   </dd>
      <dt> <strong> Peso: </strong> </dt>
      <dd> <%= @order.weight  %> Kg </dd>
      <dt> <strong> Prazo de entrega: </strong> </dt>
      <dd> <%= @order.delivery_deadline  %>  Dia(s) </dd>
      <dt> <strong> Veículo designado: </strong> </dt>
      <dd> <%= @order.vehicle.full_description %>  </dd>
      <dt> <strong> Valor da entrega: </strong> </dt>
      <dd> <%=  number_to_currency(@order.total_price)  %> </dd>
      <dt> <strong> Código de rastreio: </strong> </dt>
      <dd> <%= @order.track_number  %></dd>
      <dt> <strong> Status: <strong> </dt>
      <dd> <%= Order.human_attribute_name(@order.status) %> </dd>
  </dl>
<% end%>
</section>


<% if(@delivery_update.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @delivery_update.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end %>
  </ul>
<% end %>

<section id = 'delivery updates'>
  <p> Situação da entrega:</p>
    <%if @delivery_updates.present? %>
      <table>
        <thead>
        <tr>
          <th> | Local: |</th>
          <th> | Descrição: |</th>
          <th> | Horário de atualização: | </th>
        </tr>
        </thead>
        <tbody>
          <% @delivery_updates.each do |update| %>
            <tr>
            <td> | <%= update.coord_position %> | </td>
            <td> | <%= update.delivery_description %> | </td>
            <td> | <%= I18n.l update.created_at, format: :long %> | </td>
          </tr>
          <% end %>
        <tbody>
      </table>
    <% else%>
    </p> Não existem atualizações de entrega para este pedido.</p>
    <% end %>
</section>

<section id = 'route updates'>
<% if @order.pending? == false && @order.delivered? == false %>
  <p> Atualizar status de entrega: </p>

  <%= form_with(model: [@order, @delivery_update]) do |f| %>
    <div>
      <%= f.label :coord_position %>:
      <%= f.text_field :coord_position %>
    </div>
    <div>
      <%= f.label :delivery_description %>:
      <%= f.text_field :delivery_description %>
    </div>
    <div>

    </div>
    <%= f.submit 'Atualizar' %>
  <% end%>

<% end %>
</section>


