<!DOCTYPE html>
<html>
  <head>
    <title>CcDelivery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1> CC-Delivery </h1>
      <nav>
        <%= link_to 'Página Principal', root_path %> | 
        <%= link_to 'Todos os veículos', vehicles_path %> | 
        <%= link_to 'Tabelas de preços', prices_path %>
      </nav>
    </header>
    <main>
  <div style = "margin:10px 0px" >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>
  </body>
</html>
