<!DOCTYPE html>
<html>
  <head>
    <title>CcDelivery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1> CC-Delivery </h1>
      <nav>
        <%= link_to 'Página Principal', root_path %> | 
        <%= link_to 'Ordens de serviço', orders_path %> |
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar',  new_user_session_path %> |
        <% end %>
        <% if admin_signed_in? %>
          <%= link_to 'Tabelas de preços', prices_path %> |
          <%= link_to('Cadastrar Transportadora', new_carrier_path)%> |
          <%= current_admin.email %>
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Trabalha conosco? Clique aqui',  new_admin_session_path %> <br/>
        <% end %>
      </nav>
    </header>
    <main>
  <div style = "margin:10px 0px" >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>
  </body>
</html>
